.main{
  height: calc(100vh - 134px); 
  overflow-x: auto;
  padding: 0 50 0 50px;
}

html{
  font-family: 'Roboto' , sans-serif;
}

.container{ 
  max-width: 1300px; 
  margin: 0 auto;
}

.title{
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 10px;
}

.item-discription{
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}




