
.title-p{
  padding-left: 40px;
  margin-top: 37px;
  font-weight: 700;
  font-size: 30px;
  line-height: 35px;
}

.student__card{
  width: 210px;
  text-align: center;
  position: relative;
}

.student{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 25px;
}

.student__card-img{
  width: 200px;
  height: 270px;    
  background-color: #86C6F4;
  margin-bottom: 8px;
  text-align: center;
}

.new-student {
  position: absolute;
  right: 0px;
  top: -12px;
  width: 94px;
  height: 24px;
  background-color: #3AA828;
  color: #ffffff;
  font-size: 22px;
  text-align: center;
  border-radius: 10px;
}
.span-name{  
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
} 

.pages{
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  color: #000;
  text-decoration: none;
}

@media screen and (max-width: 700px ){
  .title-p{
  font-size: 22px;
  }
  .span-name{  
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
  } 
}